#titulo{
    display: flex;
    justify-content: center;
    font-family:'Noto Sans KR', sans-serif;
    color: #191924;
    font-size: 45px;
}

#bajada{
    display: flex;
    justify-content: center;
    font-family:'Roboto', sans-serif;
    color: #191924;
    font-size: 35px;
    margin-top: 0.5%;
}

#intro_botones{
    font-family:'Roboto', sans-serif;
    color: #191924;
    font-size: 25px;
}

#nota{
    font-family:'Roboto', sans-serif;
    color: #191924;
    font-size: 25px 
}

#mapa{
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    width: 75%;
    height: 75%;
}

body{
    background-color:#A3A29E;
    font-family: sans-serif;
}

#datos{
    position: absolute;
    right: 20px;
    width: 273px;
}
.datoschile1{
    margin: auto;
}
.datos2{
    border: #191924 5px solid;
    padding: 20px;
    margin: 20px;
    background-color: transparent;

}

.botones{
    color: white;
    font-weight: bolder;
    font-size: medium;
    margin: 1.5%;
    border-radius: 7%;
    padding: 10px;
    
}

.prueba{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#Ir_a_Chile{
    background-color: black;
}

#boton1{
    background-color: #B04756;
}

#boton2{
    background-color: #3E8C51;
}

#boton3{
    background-color: #4B58A8;
}

#telefono{
    background-color: rgb(104, 104, 104);
    height: 80px;
    width: 95%;
    position: absolute;
    top: 1500px;
    padding: 2.5%;
}

.tasa{
    position: relative;
    padding: 2%;
    border: #B04756 2px solid;
}

.ind{
    padding: 2%;
    border: #4B58A8 2px solid;
}

.psic{
    padding: 2%;
    border: #3E8C51 2px solid; 
}

svg{
    padding: 2%;
    fill: rgba(148, 148, 148, 0.596);
  }

.Pais{
    stroke: black;
    stroke-width: 1px;
}