#cuerpo{ 
    background: url("principal2clara.jpg") fixed;
    background-size: cover;

}
#frase_inicial{
    
    font-family:'Roboto', sans-serif;
    color: whitesmoke;
    opacity: 0.7;
    font-size: 35px;
    position: absolute;
    top: 640px;
    left: 360px;
    width: 55%;
}

#div_imagen{
    
    display: flex;
    justify-content: center;
    position: absolute;


    left: 50%;
  
  
    top: 50%;
  
  
    transform: translate(-50%, -50%);
}
#Boton_inicial {
    background-color: whitesmoke;
    color: #191924;
    opacity: 0.7;
    padding: 0.7%;
    margin: 2%;
    border-radius: 7%;
    font-weight: bolder;
    font-size: 25px;
    font-family:'Roboto', sans-serif;
    display: flex;
    position:absolute;
    bottom: 130px;
    right: 90px;
  }
#frase_y_boton {
    justify-content: center;
}

#Titulo_principal{
      font-family:'Noto Sans KR', sans-serif;
      color: #191924;
      font-size: 55px;
      justify-content: center;
      
}

