#titulo{
    display: flex;
    justify-content: center;
}

#mapa{
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    width: 75%;
    height: 75%;
}

body{
    background-color: lightgray;
    font-family: sans-serif;
}

#datos{
    float: right;
    width: 275px;
}

.datos2{
    padding: 20px;
    margin: 20px;
    background-color: transparent;
    height: 275px;

}

button{
    color: white;
    font-weight: bolder;
    margin: 1.7%;
    padding: 1%;
    border-radius: 7%;
    
}

#Ir_a_Chile{
    background-color: black;
}

#boton1{
    background-color: #B04756;
}

#boton2{
    background-color: #4B58A8;
}

#boton3{
    background-color: #3E8C51;
}

#telefono{
    background-color: rgb(104, 104, 104);
    height: 80px;
    width: 95%;
    position: absolute;
    top: 780px;
    padding: 2.5%;

}

.tasa{
    padding: 1%;
    border: 1px #B04756;
}

.ind{
    padding: 1%;
    border: 1px #4B58A8;
}

.psic{
    padding: 1%;
    border: 1px #3E8C51;
}

svg{
    fill:#B04756;
  }

.Pais{
    stroke: black;
    stroke-width: 1px;
}