#cuerpo{ 
    background: url("principal2clara.jpg") fixed;
    background-size: cover;

}
#frase_inicial{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    opacity: 0.7;
    font-size: 25px;
    position: absolute;
    top: 550px;
    left: 350px;
}
#div_imagen{
    
    display: flex;
    justify-content: center;
    position: absolute;


    left: 50%;
  
  
    top: 50%;
  
  
    transform: translate(-50%, -50%);
}
#Boton_inicial {
    background-color: white;
    padding: 0.7%;
    border-radius: 5%;
    font-weight: bolder;
    display: flex;
    position:absolute;
    bottom: 30px;
    right: 700px;
    
  }

#Titulo_principal{
      font-size: 55px;
      justify-content: center;
      
}

